<p id="notice"><%= notice %></p>

<h1>Departures</h1>

Last updated: <%= time_ago_in_words @departures.updated_at %> ago

<table>
  <thead>
    <tr>
      <th>When</th>
      <th>Stop ID</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @departures.each do |departure| %>
      <tr>
        <td><%= departure.stop_id %></td>
        <td><%= departure.when %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
